#replace "???" with correct values

#hw i2c, change to fit
i2c.preferred=internal
i2c.list=internal,external

i2c.internal.i2c_sda=???
i2c.internal.i2c_scl=???
i2c.internal.i2c_freq=???

i2c.external.i2c_sda=???
i2c.external.i2c_scl=???
i2c.external.i2c_freq=???


#display, spi only
#screen spi:

#left for example, put display library in /lib/
dis.push_method=blit_buffer
dis.lib=lib.ili9341_lite
dis.class=Display

# also left for example
dis.rotate_function=rotate_screen
dis.rotate_amount=???

# SPI bus ID / baudrate
dis.spi_bus=???
dis.spi_baud=???

dis.dc=???
dis.cs=???
dis.rst=???
dis.sck=???
dis.mosi=???

#==========
dis.x=???
dis.y=???
#==========

#can be small, normal, large, title
dis.normal_text=normal

#scale used for screens with higher/lower pixel densitys, does not apply to text normally
dis.scale=1

#for gfx lib, how the screen is divided
dis.segx=???
dis.segy=???

#should stay false for less heap fragmentation
dis.allow_framebuf_switching=false

#false if large screen
dis.full_buf=???

#defalt app
bootapp=core.launcher


#==========
#sdcard 
#==========
sd.present=true
sd.cs=???
sd.sck=???
sd.mosi=???
sd.miso=???
sd.spi_bus=???
sd.detect_pin=???

#recomended to have
sd.use_detect=true


#=======
#misc.
#=======

cpu_freq=???

debug.errors=true

#left defalts
dis.status_bar=false
dis.status_bar_height=10

dis.info=bat,mem,app

dis.taskbar_color=150,150,150
dis.taskbar_text_color=255,255,255
