#hw i2c
i2c.preferred=internal
i2c.list=internal,external

i2c.internal.i2c_sda=3
i2c.internal.i2c_scl=4
i2c.internal.i2c_freq=400000

i2c.external.i2c_sda=12
i2c.external.i2c_scl=13
i2c.external.i2c_freq=400000


#display, spi only
#screen spi: dc:14,cs:8,rst:15,sck:36,mosi:35

dis.push_method=blit_buffer
dis.lib=lib.ili9341_lite
dis.class=Display

dis.rotate_function=rotate_screen
dis.rotate_amount=270

# SPI bus ID / baudrate
dis.spi_bus=2
dis.spi_baud=60000000

dis.dc=14
dis.cs=8
dis.rst=15
dis.sck=36
dis.mosi=35

#==========
dis.x=320
dis.y=240
#==========

dis.normal_text=normal
dis.scale=1

#for gfx lib
dis.segx=2
dis.segy=2

dis.allow_framebuf_switching=false

#false if large screen
dis.full_buf=false

bootapp=core.launcher


#==========
#sdcard 
#==========
sd.present=true
sd.cs=10
sd.sck=18
sd.mosi=17
sd.miso=16
sd.spi_bus=1
sd.detect_pin=11

#recomended to have
sd.use_detect=true


#=======
#misc.
#=======

cpu_freq=240000000

debug.errors=true

#kernal (hardcoded ): )
dis.status_bar=true
dis.status_bar_height=10

dis.info=bat,mem,app

dis.taskbar_color=150,150,150
dis.taskbar_text_color=255,255,255